@{
    Layout = null;
}

@model ForgotPasswordViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Assets/css/Main.css">
    <title>Forgot Password</title>
</head>
<body id="login-body" style="background-image: url('../../Assets/Images/bg-bottom-right.png');">


    <main>

        <section class="d-flex ">
            <div class="meeting-img col-md-6" style="background-image: url('/Assets/Images/meeting.png');">
            </div>
            <div class="col-lg-6 container d-flex ">
                <div class="login-form ms-lg-5 m-auto  ">
                    <div class="login-form-context border border-dark bg-light  rounded-5 p-4">
                        <img src="~/Assets/Images/logo/logo.png" alt="" class="m-auto d-block mb-3">
                        <h2 class="text-center title pt-3">Forgot Password </h2>
                        <form asp-action="forgotPassword" asp-controller="account" method="post" id="login-form" class="mt-4">
                            <div class="my-5">
                                <label for="" class="form-label">Email</label>
                                <input asp-for="Email" type="email" placeholder="" class="form-control rounded-pill ">
                                <span class=" fs-09 d-block text-danger" asp-validation-for="Email"></span>

                            </div>
                         
                        
                            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
                        </form>
                        <div asp-validation-summary="ModelOnly" class="fs-09 text-danger"></div>

                        <div class="text-center mt-2 ">
                            <button class=" submit-btn m-auto" type="submit" form="login-form">Send Verification Mail</button>
                        </div>
                        
                        <a asp-action="register" asp-controller="account" class="text-decoration-none link-base my-2 text-center d-block">Don't have an account? <span class="h6 link-hover-base">Register</span> </a>

                    </div>
                </div>
            </div>

        </section>
    </main>



    <!-- ========================= CDNs =============================== -->
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/f0bcda735f.js"
            crossorigin="anonymous"></script>
</body>
</html>