@using Medlab.Core.Entities



@model List<Service>






<!-- Bread crumb -->
<div class="breadCrumb p-3 bg-light">
    <p class="container mb-0 px-5">
        <a asp-action="index" asp-controller="home">Home</a>/<a href="#">Services</a>
    </p>
</div>

<main>
    <section id="Our_Services_Section" class="py-5">
        <span class="sectionName text-center d-block">What We Offer</span>
        <div class="sectionTitle">
            <h2 class="h1 position-relative text-center  text-dark title_underlined"
                data-title="Services">
                Our Services
            </h2>
        </div>

        <div class="container px-lg-5">
            <div class="services  my-5">
                @foreach (var service in Model)
                {
                <!-- card -->

                    <div class="services_card bg-light ">
                        <div class="services_card_photo">
                            <a href="#" class="d-block w-100">
                                <img src="../Assets/Uploads/Services/@service.ImageUrl"
                                 alt=""
                                 class="w-100" />
                            </a>
                        </div>
                        <div class="p-4">
                            <div class="services_card_name mb-4">
                                <a href="#" class="text-decoration-none link-base">
                                    <h2 class="h4 title_underlined position-relative">
                                       @service.Name
                                    </h2>
                                </a>
                            </div>
                            <div class="services_card_desc">
                                <p>
                                   @Html.Raw(service.Description);
                                </p>
                            </div>
                        </div>
                    </div>
                    // 051 631 80 45

                }

             
            </div>
        </div>
    </section>
</main>